a{
    /* font-size: 12px; */
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #1890ff;
}
body{
    /* width: 1081px; */
    /* margin: 0 auto; */
    font-size: 12px;
    background-color: #eee;
}
.box{
    width: 1100px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.clearfix:after{
    content:"";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}
.col-1{
    width: 208px;
}
.col-space{
    margin-right: 10px;
}
.col-4{
    width: 860px;
}
/*  */
.hot-list{
    float: left;
}
.right-hot{
    float: left;
    background-color: #eee;
    height: 300px;
    width: 1082px;
}
.right-hot .hot-list{
    float: left;
    height: 300px;
    padding: 20px 10px;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s;
}
.right-hot .hot-list:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.list-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 14px;
}
.price{
    float:left;
    font-size: 14px;
    color: red;
}
.person{
    float:right;
    opacity: 0.5;
    font-size: 14px;
}
.right-hot .hot-list:nth-child(5n){
    margin: 0;
}