a{
    /* font-size: 12px; */
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #1890ff;
}
body{
    /* width: 1081px; */
    /* margin: 0 auto; */
    font-size: 12px;
    background-color: #eee;
}
.box{
    width: 1081px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.clearfix:after{
    content:"";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}
.col-1{
    width: 208px;
}
.col-space{
    margin-right: 10px;
}
.col-4{
    width: 862px;
}
