/* 顶部区域
---------------------------------------------------------------- */
.top{
    height: 30px;
    background-color: #f3f3f3;
    line-height: 30px;
}
.top .left-top{
    float: left;
}
.top li{
    float: right;
    margin-right: 5px;
}
.top .right-top{
    float: right;
}
.top .right-top i{
    font-size: 12px;
}
.top .right-top .list{
    float: left;
    margin-right: 10px;
    padding:  0 5px;
}
.top .right-top .list:hover{
    background-color: #fff;
}

/* 头部搜索
---------------------------------------------------------------- */
.header{
    height: 110px;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #52c41a;
}
.header .logo{
    float: left;
    /* background-color: slateblue; */
}
.header .right-head{
    float: right;
    /* background-color: skyblue; */
    height: 110px;
}
.header .logo a{
    font-size: 30px;
    font-weight: bold;
    line-height: 110px;
    color:#52c41a ;
}
.header .search{
    margin-top:18px ;
    margin-left: 15px;
}
.search-input{
    width: 412px;
    height: 40px;
    border: 2px solid #52c41a;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    float: left;
}
.submit{
    background-color: #52c41a;
    width: 105px;
    height: 44px;
    float: left;
    /* border: 2px solid #52c41a; */
    line-height: 40px;
    padding: 0 36px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
}
.submit:hover{
    opacity: 0.8;
    color: #fff;
}
.header .head-list{
    margin-top: 25px;
}
.header .head-list .nav-list{
    float: left;
    font-size: 16px;
    font-weight: 300;
    margin-right: 42px;
}
.header .head-list .nav-list .active{
    color: #52c41a;
}
/* 焦点区域
---------------------------------------------------------------- */
.focus{
    margin-top: 31px;
    margin-bottom: 40px;
}
.focus .left-focus{
    background-color: #fff;
    float: left;
    height: 440px;
}
.focus .left-focus .focus-list{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}
.focus .left-focus .focus-list :hover{
    background-color: #ccc;
}
.focus .left-focus .ins-list .keyword-item{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
}
.focus .left-focus .focus-list .keyword-item{
    font-size: 14px;
}
.focus .right-focus{
    background-color: red;
    float: left;
    height: 440px;
    position: relative;
}
.right-focus .right-list{
    position: relative;
    height: 100%;
}
.right-focus .right-item{
    position: absolute;
    top: 0;
    left: 0;
}
.right-focus .right-item img{
    width: 863px;
    height: 440px;
}
.right-focus .arrow{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #007aff;
    cursor: pointer;
}
.left-arrow{
    left: 0;
}
.right-arrow{
    right: 0;
}
.focus .round{
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.right-focus .round-list{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.right-focus .round .active{
    background-color: #52c41a ;
}
.right-focus .round {
    margin-right: 30px;
}
/* 热销区域
---------------------------------------------------------------- */
.hot{
    margin-bottom: 66px;
    
}
.hot .left-hot{
    height: 302px;
    float: left;
    box-sizing: border-box;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top:90px ;
    opacity: 0.8;
    cursor: pointer;
    /* background-color: cornflowerblue; */
    background-image: linear-gradient(#007aff,#52c41a);
}
.hot h3{
    margin-bottom: 20px;
}
.hot .iconfont{
    font-size: 36px;
}
.hot-list{
    float: left;
}
.hot .right-hot{
    float: left;
    background-color: #eee;
    height: 300px;
    width: 862px;
}
.hot .right-hot .hot-list{
    float: left;
    height: 300px;
    padding: 20px 10px;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s;
}
.hot .right-hot .hot-list:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.hot .list-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 14px;
}
.price{
    float:left;
    font-size: 14px;
    color: red;
}
.person{
    float:right;
    opacity: 0.5;
    font-size: 14px;
}
.hot .right-hot .hot-list:last-child{
    margin: 0;
}
    
/* 楼层区域
---------------------------------------------------------------- */
.floor{
    height: 692px;
    margin-bottom: 40px;
    /* background-color: yellow; */
}
.floor .floor-wrap .floor-title{
    border-bottom: 1px solid #52c41a;
    margin-bottom: -25px;
}
.floor .floor-wrap  a{
    font-size: 18px;
    color: #52c41a;
}
.floor .floor-wrap{
    margin-bottom: 40px;
}

/* 底部导肮
---------------------------------------------------------------- */
.footer{
    background-color: #2f2f2f;
}
.footer .box{
    height: 248px;
}
.footer .foot-list{
    padding: 50px 40px;
    border-bottom: 1px solid #3d3d3d;
}
.footer .foot-list .icon{
    font-size: 18px;
    color: #fff;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    background-image: url(../image/us-icon.png);
    background-repeat: no-repeat;
    padding-left: 70px;
}
.footer .foot-list .icon1{
    margin-right: 210px;
}
.footer .foot-list .icon2{
    margin-right: 210px;
    background-position: 0 -45px;
    padding-left: 56px;
}
.footer .foot-list .icon3{
    background-position: 0 -82px;
}
.footer .links{
    padding: 10px 0;
    text-align: center;
}
.footer .links a{
    color: #888;
    padding: 0 10px;
}
.footer .end{
    text-align: center;
    color: #888;
}